
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
 </section>

<section class="about">
  <h2>しおりの会</h2>
  <p>
     読み語りボランティアのアプリです<br>
  </p>
</section>

<section class="function container-fluid">
  <div class="row">
      
   <div class="function-images">      
      
     <h2>さあ、ページを開いて本の世界へ</h2>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="function-image">
          <img src="<%= asset_path "a.book.png" %>">
         <p>a book</p>
        </div>
      </div>        
      
   </div>
  </div>
</section>

<footer>
</footer>