header {
  width: 100%;
  background-color: #00CCFF;
  height: 54px;
}


.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}


.main-header {
  padding-bottom: 40%;
  background-image: url("books.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}


.main-header img {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 5%;
}

.about {
  background-color: white;
  background-image: url("colorfuldots.png");
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  color: #333;
  padding: 80px;
}

.function {
  background-color: white;
  padding: 10px;
  padding-bottom: 10px;
}


footer {
  width: 100%;
  background-color:#00CCFF;
  padding: 20px 0 10px 0;
  color: gray;
  margin: auto;
  padding-bottom: 12px;
  font-size: 8px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.flash {
  color: black;
  padding-top: 10px;
}